/*header and first section styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Source Sans 3', sans-serif;
    color:#FFFFFF;
}


header{
    width: 70%;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}



ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap:20px;
    padding-top: 20px;

}

nav li a{
    text-decoration: none;
}


.hero{
    margin-top: 35vh;
    align-items: center;
    line-height: 1.5;
}




.hero-section{
    margin:0;
    padding:0;
    background:url("images/headphones_hero_1.jpg");
    background-size: cover;
    width:100%;
    height:100vh;
    text-align: center;

}

button{
    background-color: #EF5555;
    border-radius: 25px;
    padding:10px 20px;
    border: none;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 60px;

}

.text{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}

a:hover{
    color: #ff6b6b;
    cursor: pointer;
}

button:hover{
    background-color:#ff6b6b;
    cursor:pointer;
}