
/*header and first section styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family:'Source Sans 3', sans-serif;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
}

header{
    width: 80%;
    margin: 0 auto;
    margin-top:35px;
    height: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    gap:40px;
}

nav ul li a{
    text-decoration: none;
    color:#ffffff;
}


/* Hero Section */
.hero-section {
    background-image: url("images/Main_image.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: -65px;
    justify-content: center;
}

.pros{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 100px;
    font-size: 14px;
}

.pros-profile{
    width: 150px;
    text-align: center;

}

.get_schooled{
    padding-top:120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan span{
    display: inline-block;
    margin: 20px;
}

h1{
    font-size: 80px;
}

button{
    background-color: #C271FF;
    color: #FFFFFF;
    width:30%;
    padding: 12px 8px;
    border: none;
    border-radius: 15px;
    text-align: center;
}

.learn{
    color:#C271FF;
}

.img-3{
    border-radius: 50%;
}

h2{
    margin-top: 80px;
    margin-bottom: 60px;
}