
/*header and first section styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family:'Source Sans 3', sans-serif;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
}

header{
    width: 80%;
    margin: 0 auto;
    margin-top:35px;
    height: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    gap:40px;
}

nav ul li a{
    text-decoration: none;
    color:#ffffff;
}


/* Hero Section */
.hero-section {
    background-image: url("images/Main_image.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: -65px;
    flex-wrap: wrap;
}

.pros{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 100px;
    font-size: 14px;
    flex-wrap: wrap;
}

.pros-profile{
    width: 150px;
    text-align: center;

}

.get_schooled{
    padding-top:120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.slogan span{
    display: inline-block;
    margin: 20px;
}

h1{
    font-size: 80px;
}

button{
    background-color: #C271FF;
    color: #FFFFFF;
    padding: 12px 8px;
    border: none;
    border-radius: 15px;
    text-align: center;
}

.learn{
    color:#C271FF;
}

.img-3{
    border-radius: 50%;
}

h2{
    margin-top: 80px;
    margin-bottom: 60px;
}



/* Quote Section*/
.testimonials{
    background-color:#C372FF;
    display: flex;
    padding: 80px 100px;
    gap: 40px;
    color:#FFFFFF;
    justify-content: center;
    font-size: 20px;
    flex-wrap: wrap;

}

.testimonial-text{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


blockquote{
    margin-bottom: 20px;
}
#test-2{
    font-style: italic;
}


/*Tutorials  Section*/

.tutorials{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.video{
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    font-size: 12px;
}


.popular{
    color:#C271FF;
    display: inline-block;
}
.tutorials-text{
    max-width: 200px;
}
.tutorials-text div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}



.image-1{
    border-radius: 50%;
    width:30px;
    height:30px;
}

h4{
    color: #C372FF;
}

.popular-2{
    color:#D8D8D8;
    display: inline-block;
}

.popular-3{
    color: #C372FF;
}

.ratings{
    display: flex;
    justify-content: space-between;
}

.image-2{
    width: 200px;
    height: 150px;
}





/*Membership section*/

.membership{
    background-color:#071629;
    color:#FFFFFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

.membership-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.membership-content-text{
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.button-2{
    margin-top: 20px;
    margin-bottom: 10px;
}


/*FAQ Section*/

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-content{
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(2, 1fr);

}

.details-text{
    max-width: 400px;
    padding: 20px;
    font-size: 14px;
}

.text{
    margin-bottom: 20px;
    padding-top: 50px;
}

.text-h1{
    font-size: 32px;
    margin: 0;
    font-style: normal;
}

/*Footer Section*/
footer{
    background-color: #071629;
    margin-top: 80px;
    align-items: center;
    padding-top: 20px;

}
.last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#FFFFFF;
    margin-top: 40px;
    padding: 40px 120px;
}
.last-p{
    text-align: center;
    padding-top: 20px;
    padding: 20px;
    color: rgb(83, 94, 107);
}
